
@import "tailwindcss" ;

@font-face {
  font-family: "FragmentMono";
  src: url("./fonts/FragmentMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FragmentMono";
  src: url("./fonts/FragmentMono-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "PPLettraMono";
  src: url("./fonts/PPLettraMono-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "PPLettraMono";
  src: url("./fonts/PPLettraMono-Ultralight.otf") format("opentype");
  font-weight: 300;
}

/* stylelint-disable at-rule-no-unknown */
@theme {
    --color-xtra-light-primary: hsl(34, 100%, 85%);
    --color-light-primary: hsl(34, 100%, 55%);
    --color-primary: #fe8401;
  --color-primary-hover:  #e87400;
    --color-secondary: #c16500;
    --color-gray-1: #f2f2f2;
    --color-gray-2: #c4c4c4;
    --color-gray-3: #8c8c8c;
    --color-gray-4: #555555;
    --color-text-color: #333333;
    --font-base: "FragmentMono", monospace;
    --font-roboto: "Roboto", sans-serif;
    --font-titles: "PPLettraMono", monospace;
    --font-lettramono: "PPLettraMono", monospace;
  }

html, body, #app {
  height: 100%;
}

body {
  min-height: 100vh;
  font-family: "FragmentMono", monospace;
  font-weight: normal;
  line-height: 1.6;
}

#app {
margin: 0 auto;
}

